<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="screen">
      <div class="overlap">
        <div class="overlap-group">
          <img class="line" src="img/line-1.svg" />
          <div class="rectangle"></div>
          <div class="div"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <p class="text-wrapper">병원에 처음 방문하신 분은 데스크로 와주세요.</p>
          <p class="p">
            발열·기침 환자는 반드시 마스크 착용 후 내원해 주세요.<br />진단서 발급 시 비용이 발생합니다.<br />수납
            업무는 데스크로 와주세요.<br />독감·폐렴구균 예방접종 시행 중입니다. 데스크 문의해 주세요.
          </p>
          <div class="text-wrapper-2">OO 이비인후과</div>
          <p class="div-2">
            <span class="span">여기에서<br /></span>
            <span class="text-wrapper-3">접수/서류발급</span>
            <span class="span">하세요!</span>
          </p>
          <div class="text-wrapper-4">접수</div>
          <div class="text-wrapper-5">서류발급</div>
          <img class="documents" src="img/documents.png" />
          <img class="waiting-room" src="img/waiting-room.png" />
        </div>
        <div class="overlap-2">
          <img class="free-icon-house" src="img/free-icon-house-11600243-1.png" />
          <div class="text-wrapper-6">처음으로</div>
        </div>
        <div class="group">
          <div class="overlap-group-2">
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
          </div>
        </div>
        <img class="speaker" src="img/speaker.png" />
        <div class="element-PM">2025/05/12(월)<br />18:00 PM</div>
      </div>
    </div>
  </body>
</html>
